---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/graphs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6b7da6cd0aa2a702237bc58c40db7179
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "comments_count": 0,
                        "creation_date": 1561387323,
                        "graph_data": {
                            "description": "1dot1",
                            "version": "3.7.3"
                        },
                        "last_modified_date": 1561387418,
                        "links": [
                            {
                                "connection_type": "resolutions",
                                "source": "1.1.1.1",
                                "target": "relationships_resolutions_1z1z1z1"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_resolutions_1z1z1z1",
                                "target": "northdakotahibid.com"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_resoluti[...]
