---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2f25eeff7952676569622b3d69657bad
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "as_owner": "Cloudflare, Inc.",
                    "asn": 13335,
                    "continent": "OC",
                    "country": "AU",
                    "last_https_certificate": {
                        "cert_signature": {
                            "signature": "306502307b3efa857d874ccbabfc8dd746ec1f7665686bc27a655115abe019b04ec3c9087b015e1634b53ed3dd81acf6e7c95505023100cd47f98ddcf5a7273be2580eba70bb2c113a70fb566f37c6a49898c93fd3f9ce5e200c1163388a4f40ca6daaa5eed899",
                            "signature_algorithm": "sha256ECDSA"
                        },
                        "extensions": {
                            "1.3.6.1.4.1.11129.2.4.2": "0482016a0168007600a4b90990b418581487bb13a2cc67700a3c359804f91bdf",
                            "CA": true,
                            "authority_key_identifier": {
                                "keyid": "a39de61ff9da394fc06ee891cb95a5da31e20a9f"
                            },
                            "ca_information_access": {
                                "CA Issuers": "http://cacerts.digicert.com/DigiCertECCSecureServerCA.crt",
                                "OCSP": "http://ocsp.digicert.com"
                            },
                            "certificate_policies": [
                                "2.16.840.1.114412.1.1",
                                "2.23.140.1.2.2"
                            ],
                            "crl_distribution_points": [
                                "http://crl3.digicert.com/ssca-ecc-g1.crl",
                                "http://crl4.digicert.com/ssca-ecc-g1.crl"
                            ],
                            "extended_key_usage": [
                                "serverAuth",
                                "clientAuth"
                            ],
                            "key_usage": [
                                "ff"
                            ],
                            "subject_alternative_name": [
                                "cloudflare-dns.com",
                                "*.cloudflare-dns.com",
                                "one.one.one.one",
                                "\u0001\u0001\u0001\u0001",
                                "\u0001\u0001",
                                "\\xa2\\x9f\\x845",
                                "&\u0006GG\u0011\u0011",
                                "&\u0006GG\u0010\u0001",
                                "GGd",
                                "GGd",
                                "\\xa2\\x9f$\\x01",
                                "\\xa2\\x9f.\\x01"
                            ],
                            "subject_key_identifier": "7095dc5ca38e6607dbcb8110c6abe7c3a8457fa0",
                            "tags": []
                        },
                        "issuer": {
                            "C": "US",
                            "CN": "DigiCert ECC Secure Server CA",
                            "O": "DigiCert Inc"
                        },
                        "public_key": {
                            "algorithm": "EC",
                            "ec": {
                                "oid": "secp256r1",
                                "pub": "04c520708c204250281e7d44417c3079291c635e1d449bc5f7713a2bded2a2a4b16c3d6ac877b8cb8f2e5053fdf418267f6137edffc2bee90b5db97ee1df1ce274"
                            }
                        },
                        "serial_number": "1cce318de9f567fab2b24901fada71d",
                        "signature_algorithm": "sha256ECDSA",
                        "size": 1482,
                        "subject": {
                            "C": "US",
                            "CN": "cloudflare-dns.com",
                            "L": "San Francisco",
                            "O": "Cloudflare, Inc.",
                            "ST": "California"
                        },
                        "tags": [],
                        "thumbprint": "6656840172b4fbbcd6d0a4a103491e93004d195f",
                        "thumbprint_sha256": "b1910e0d8aa0d5de8e1f20c026d53ed9cf3df0d72a866ecbdbfc8dfa650ed0bf",
                        "validity": {
                            "not_after": "2021-02-01 12:00:00",
                            "not_before": "2019-01-28 00:00:00"
                        },
                        "version": "V3"
                    },
                    "last_https_certificate_date": 1569476903,
                    "network": "1.1.1.0/24",
                    "regional_internet_registry": "APNIC",
                    "reputation": 0,
                    "total_votes": {
                        "harmless": 1,
                        "malicious": 1
                    },
                    "whois": "NetRange: 1.0.0.0 - 1.255.255.255\nCIDR: 1.0.0.0/8\nNetName: APNIC-1\nNetHandle: NET-1-0-0-0-1\nParent: ()\nNetType: Allocated to APNIC\nOriginAS: \nOrganization: Asia Pacific Network Information Centre (APNIC)\nRegDate: \nUpdated: 2010-07-30\nComment: This IP address range is not registered in the ARIN database.\nComment: For details, refer to the APNIC Whois Database via\nComment: WHOIS.APNIC.NET or http://wq.apnic.net/apnic-bin/whois.pl\nComment: ** IMPORTANT NOTE: APNIC is the Regional Int[...]
