---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/url/report
    body:
      encoding: US-ASCII
      string: resource=http%3A%2F%2Fgithub.com&apikey=<VIRUSTOTAL_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 05a0d852b86d9ac5ccf435dd09d07001
    body:
      encoding: UTF-8
      string: '{"scan_id": "793a92a45980286190d8c4cb5e3a4d7846373fecde23e4d95f22bfdc98eec94c-1556780942",
        "resource": "http://github.com", "url": "http://github.com/", "response_code":
        1, "scan_date": "2019-05-02 07:09:02", "permalink": "https://www.virustotal.com/url/793a92a45980286190d8c4cb5e3a4d7846373fecde23e4d95f22bfdc98eec94c/analysis/1556780942/",
        "verbose_msg": "Scan finished, scan information embedded in this object",
        "filescan_id": null, "positives": 0, "total": 66, "scans": {"CLEAN MX": {"detected":
        false, "result": "clean site"}, "DNS8": {"detected": false, "result": "clean
        site"}, "OpenPhish": {"detected": false, "result": "clean site"}, "VX Vault":
        {"detected": false, "result": "clean site"}, "ZDB Zeus": {"detected": false,
        "result": "clean site"}, "ZCloudsec": {"detected": false, "result": "clean
        site"}, "PhishLabs": {"detected": false, "result": "unrated site"}, "Zerofox":
        {"detected": false, "result": "clean site"}, "K7AntiVirus": {"detected": false,
        "result": "clean site"}, "FraudSense": {"detected": false, "result": "clean
        site"}, "Virusdie External Site Scan": {"detected": false, "result": "clean
        site"}, "Quttera": {"detected": false, "result": "clean site"}, "AegisLab
        WebGuard": {"detected": false, "result": "clean site"}, "MalwareDomainList":
        {"detected": false, "result": "clean site", "detail": "http://www.malwaredomainlist.com/mdl.php?search=github.com"},
        "ZeusTracker": {"detected": false, "result": "clean site", "detail": "https://zeustracker.abuse.ch/monitor.php?host=github.com"},
        "zvelo": {"detected": false, "result": "clean site"}, "Google Safebrowsing":
        {"detected": false, "result": "clean site"}, "Kaspersky": {"detected": false,
        "result": "clean site"}, "BitDefender": {"detected": false, "result": "clean
        site"}, "Opera": {"detected": false, "result": "clean site"}, "Certly": {"detected":
        false, "result": "clean site"}, "G-Data": {"detected": false, "result": "clean
        site"}, "C-SIRT": {"detected": false, "result": "clean site"}, "CyberCrime":
        {"detected": false, "result": "clean site"}, "SecureBrain": {"detected": false,
        "result": "clean site"}, "Malware Domain Blocklist": {"detected": false, "result":
        "clean site"}, "MalwarePatrol": {"detected": false, "result": "clean site"},
        "Trustwave": {"detected": false, "result": "clean site"}, "Web Security Guard":
        {"detected": false, "result": "clean site"}, "CyRadar": {"detected": false,
        "result": "clean site"}, "desenmascara.me": {"detected": false, "result":
        "clean site"}, "ADMINUSLabs": {"detected": false, "result": "clean site"},
        "Malwarebytes hpHosts": {"detected": false, "result": "clean site"}, "Dr.Web":
        {"detected": false, "result": "clean site"}, "AlienVault": {"detected": false,
        "result": "clean site"}, "Emsisoft": {"detected": false, "result": "clean
        site"}, "Rising": {"detected": false, "result": "clean site"}, "Malc0de Database":
        {"detected": false, "result": "clean site", "detail": "http://malc0de.com/database/index.php?search=github.com"},
        "malwares.com URL checker": {"detected": false, "result": "clean site"}, "Phishtank":
        {"detected": false, "result": "clean site"}, "Malwared": {"detected": false,
        "result": "clean site"}, "Avira": {"detected": false, "result": "clean site"},
        "NotMining": {"detected": false, "result": "clean site"}, "StopBadware": {"detected":
        false, "result": "unrated site"}, "Antiy-AVL": {"detected": false, "result":
        "clean site"}, "Forcepoint ThreatSeeker": {"detected": false, "result": "clean
        site"}, "SCUMWARE.org": {"detected": false, "result": "clean site"}, "Comodo
        Site Inspector": {"detected": false, "result": "clean site"}, "Malekal": {"detected":
        false, "result": "clean site"}, "ESET": {"detected": false, "result": "clean
        site"}, "Sophos": {"detected": false, "result": "unrated site"}, "Yandex Safebrowsing":
        {"detected": false, "result": "clean site", "detail": "http://yandex.com/infected?l10n=en&url=http://github.com/"},
        "Spam404": {"detected": false, "result": "clean site"}, "Nucleon": {"detected":
        false, "result": "clean site"}, "Sucuri SiteCheck": {"detected": false, "result":
        "clean site"}, "Blueliv": {"detected": false, "result": "clean site"}, "Netcraft":
        {"detected": false, "result": "unrated site"}, "AutoShun": {"detected": false,
        "result": "unrated site"}, "ThreatHive": {"detected": false, "result": "clean
        site"}, "FraudScore": {"detected": false, "result": "clean site"}, "Tencent":
        {"detected": false, "result": "clean site"}, "URLQuery": {"detected": false,
        "result": "unrated site"}, "Fortinet": {"detected": false, "result": "clean
        site"}, "ZeroCERT": {"detected": false, "result": "clean site"}, "Baidu-International":
        {"detected": false, "result": "clean site"}, "securolytics": {"detected":
        false, "result": "clean site"}}}'
  recorded_at: Thu, 02 May 2019 10:59:36 GMT
recorded_with: VCR 4.0.0
