---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/communicating_files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2f1f06f9092ae6c42b81382aa7cadbdb
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "authentihash": "811d7bb8a03d6eb59cf19ac1e9da6b6dfa09af2a564895dd516e5d12f902a65d",
                        "creation_date": 1567625492,
                        "exiftool": {
                            "CodeSize": "540672",
                            "EntryPoint": "0x3effe0",
                            "FileType": "Win64 EXE",
                            "FileTypeExtension": "exe",
                            "ImageFileCharacteristics": "Executable, Large address aware",
                            "ImageVersion": "0.0",
                            "InitializedDataSize": "4096",
                            "LinkerVersion": "14.22",
                            "MIMEType": "application/octet-stream",
                            "MachineType": "AMD AMD64",
                            "OSVersion": "6.0",
                            "PEType": "PE32+",
                            "Subsystem": "Windows command line",
                            "SubsystemVersion": "6.0",
                            "TimeStamp": "2019:09:04 21:31:32+02:00",
                            "UninitializedDataSize": "3588096"
                        },
                        "first_submission_date": 1571524414,
                        "last_analysis_date": 1571524414,
                        "last_analysis_results": {
                            "ALYac": {
                                "category": "malicious",
                                "engine_name": "ALYac",
                                "engine_update": "20191019",
                                "engine_version": "1.1.1.5",
                                "method": "blacklist",
                                "result": "Trojan.GenericKD.41867189"
                            },
                            "APEX": {
                                "category": "malicious",
                                "engine_name": "APEX",
                                "engine_update": "20191019",
                                "engine_version": "5.75",
                                "method": "blacklist",
                                "result": "Malicious"
                            },
                            "AVG": {
                                "category": "malicious",
                                "engine_name": "AVG",
                                "engine_update": "20191019",
                                "engine_version": "18.4.3895.0",
                                "method": "blacklist",
                                "result": "Win64:Malware-gen"
                            },
                            "Acronis": {
                                "category": "malicious",
                                "engine_name": "Acronis",
                                "engine_update": "20191018",
                                "engine_version": "1.1.1.58",
                                "method": "blacklist",
                                "result": "suspicious"
                            },
                            "Ad-Aware": {
                                "category": "malicious",
                                "engine_name": "Ad-Aware",
                                "engine_update": "20191019",
                                "engine_version": "3.0.5.370",
                                "method": "blacklist",
                                "result": "Trojan.GenericKD.41867189"
                            },
                            "AegisLab": {
                                "category": "undetected",
                                "engine_name": "AegisLab",
                                "engine_update": "20191019",
                                "engine_version": "4.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "AhnLab-V3": {
                                "category": "malicious",
                                "engine_name": "AhnLab-V3",
                                "engine_update": "20191019",
                                "engine_version": "3.16.3.25410",
                                "method": "blacklist",
                                "result": "Malware/Win64.RL_Generic.R290673"
                            },
                            "Alibaba": {
                                "category": "undetected",
                                "engine_name": "Alibaba",
                                "engine_update": "20190527",
                                "engine_version": "0.3.0.5",
                                "method": "blacklist",
                                "result": null
                            },
                            "Antiy-AVL": {
                                "category": "malicious",
                                "engine_name": "Antiy-AVL",
                                "engine_update": "20191019",
                                "engine_version": "3.0.0.1",
                                "method": "blacklist",
                                "result": "GrayWare/Win32.Kryptik.BQX"
                            },
                            "Arcabit": {
                                "category": "malicious",
                                "engine_name": "Arcabit",
                                "engine_update": "20191019",
                                "engine_version": "1.0.0.859",
                                "method": "blacklist",
                                "result": "Trojan.Generic.D27ED7B5"
                            },
                            "Avast": {
                                "category": "malicious",
                                "engine_name": "Avast",
                                "engine_update": "20191019",
                                "engine_version": "18.4.3895.0",
                                "method": "blacklist",
                                "result": "Win64:Malware-gen"
                            },
                            "Avast-Mobile": {
                                "category": "undetected",
                                "engine_name": "Avast-Mobile",
                                "engine_update": "20191012",
                                "engine_version": "191012-04",
                                "method": "blacklist",
                                "result": null
                            },
                            "Avira": {
                                "category": "malicious",
                                "engine_name": "Avira",
                                "engine_update": "20191019",
                                "engine_version": "8.3.3.8",
                                "method": "blacklist",
                                "result": "HEUR/AGEN.1040560"
                            },
                            "Baidu": {
                                "category": "undetected",
                                "engine_name": "Baidu",
                                "engine_update": "20190318",
                                "engine_version": "1.0.0.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "BitDefender": {
                                "category": "malicious",
                                "engine_name": "BitDefender",
                                "engine_update": "20191019",
                                "engine_version": "7.2",
                                "method": "blacklist",
                                "result": "Trojan.GenericKD.41867189"
                            },
                            "Bkav": {
                                "category": "malicious",
                                "engine_name": "Bkav",
                                "engine_update": "20191018",
                                "engine_version": "1.3.0.10239",
                                "method": "blacklist",
                                "result": "W64.HfsAutoB."
                            },
                            "CAT-QuickHeal": {
                                "category": "malicious",
                                "engine_name": "CAT-QuickHeal",
                                "engine_update": "20191019",
                                "engine_version": "14.00",
                                "method": "blacklist",
                                "result": "Trojan.CoinMiner"
                            },
                            "CMC": {
                                "category": "undetected",
                                "engine_name": "CMC",
                                "engine_update": "20190321",
                                "engine_version": "1.1.0.977",
                                "method": "blacklist",
                                "result": null
                            },
                            "ClamAV": {
                                "category": "malicious",
                                "engine_name": "ClamAV",
                                "engine_update": "20191019",
                                "engine_version": "0.102.0.0",
                                "method": "blacklist",
                                "result": "Win.Trojan.Coinminer-7331384-0"
                            },
                            "Comodo": {
                                "category": "undetected",
                                "engine_name": "Comodo",
                                "engine_update": "20191019",
                                "engine_version": "31622",
                                "method": "blacklist",
                                "result": null
                            },
                            "CrowdStrike": {
                                "category": "malicious",
                                "engine_name": "CrowdStrike",
                                "engine_update": "20190702",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": "win/malicious_confidence_100% (D)"
                            },
                            "Cylance": {
                                "category": "undetected",
                                "engine_name": "Cylance",
                                "engine_update": "20191020",
                                "engine_version": "2.3.1.101",
                                "method": "blacklist",
                                "result": null
                            },
                            "Cyren": {
                                "category": "malicious",
                                "engine_name": "Cyren",
                                "engine_update": "20191019",
                                "engine_version": "6.2.2.2",
                                "method": "blacklist",
                                "result": "W64/Coinminer.DU"
                            },
                            "DrWeb": {
                                "category": "malicious",
                                "engine_name": "DrWeb",
                                "engine_update": "20191019",
                                "engine_version": "7.0.41.7240",
                                "method": "blacklist",
                                "result": "Tool.BtcMine.2169"
                            },
                            "ESET-NOD32": {
                                "category": "malicious",
                                "engine_name": "ESET-NOD32",
                                "engine_update": "20191019",
                                "engine_version": "20209",
                                "method": "blacklist",
                                "result": "a variant of Win64/CoinMiner.PB potentially unwanted"
                            },
                            "Emsisoft": {
                                "category": "malicious",
                                "engine_name": "Emsisoft",
                                "engine_update": "20191019",
                                "engine_version": "2018.12.0.1641",
                                "method": "blacklist",
                                "result": "Application.Miner (A)"
                            },
                            "Endgame": {
                                "category": "malicious",
                                "engine_name": "Endgame",
                                "engine_update": "20190918",
                                "engine_version": "3.0.15",
                                "method": "blacklist",
                                "result": "malicious (moderate confidence)"
                            },
                            "F-Prot": {
                                "category": "malicious",
                                "engine_name": "F-Prot",
                                "engine_update": "20191019",
                                "engine_version": "4.7.1.166",
                                "method": "blacklist",
                                "result": "W64/Coinminer.DU"
                            },
                            "F-Secure": {
                                "category": "malicious",
                                "engine_name": "F-Secure",
                                "engine_update": "20191019",
                                "engine_version": "12.0.86.52",
                                "method": "blacklist",
                                "result": "Heuristic.HEUR/AGEN.1040560"
                            },
                            "FireEye": {
                                "category": "malicious",
                                "engine_name": "FireEye",
                                "engine_update": "20191019",
                                "engine_version": "29.7.0.0",
                                "method": "blacklist",
                                "result": "Generic.mg.bbe2fd07c53a7b44"
                            },
                            "Fortinet": {
                                "category": "malicious",
                                "engine_name": "Fortinet",
                                "engine_update": "20191019",
                                "engine_version": "5.4.247.0",
                                "method": "blacklist",
                                "result": "W32/Miner.VI!tr"
                            },
                            "GData": {
                                "category": "malicious",
                                "engine_name": "GData",
                                "engine_update": "20191019",
                                "engine_version": "A:25.23723B:26.16348",
                                "method": "blacklist",
                                "result": "Trojan.GenericKD.41867189"
                            },
                            "Ikarus": {
                                "category": "malicious",
                                "engine_name": "Ikarus",
                                "engine_update": "20191019",
                                "engine_version": "0.1.5.2",
                                "method": "blacklist",
                                "result": "Trojan.Win64.CoinMiner"
                            },
                            "Invincea": {
                                "category": "malicious",
                                "engine_name": "Invincea",
                                "engine_update": "20190904",
                                "engine_version": "6.3.6.26157",
                                "method": "blacklist",
                                "result": "heuristic"
                            },
                            "Jiangmin": {
                                "category": "malicious",
                                "engine_name": "Jiangmin",
                                "engine_update": "20191019",
                                "engine_version": "16.0.100",
                                "method": "blacklist",
                                "result": "Trojan.Generic.dyglg"
                            },
                            "K7AntiVirus": {
                                "category": "malicious",
                                "engine_name": "K7AntiVirus",
                                "engine_update": "20191019",
                                "engine_version": "11.73.32319",
                                "method": "blacklist",
                                "result": "Adware ( 00551a2e1 )"
                            },
                            "K7GW": {
                                "category": "malicious",
                                "engine_name": "K7GW",
                                "engine_update": "20191010",
                                "engine_version": "11.72.32236",
                                "method": "blacklist",
                                "result": "Adware ( 00551a2e1 )"
                            },
                            "Kaspersky": {
                                "category": "malicious",
                                "engine_name": "Kaspersky",
                                "engine_update": "20191019",
                                "engine_version": "15.0.1.13",
                                "method": "blacklist",
                                "result": "HEUR:Trojan.Win32.Generic"
                            },
                            "Kingsoft": {
                                "category": "undetected",
                                "engine_name": "Kingsoft",
                                "engine_update": "20191020",
                                "engine_version": "2013.8.14.323",
                                "method": "blacklist",
                                "result": null
                            },
                            "MAX": {
                                "category": "malicious",
                                "engine_name": "MAX",
                                "engine_update": "20191020",
                                "engine_version": "2019.9.16.1",
                                "method": "blacklist",
                                "result": "malware (ai score=84)"
                            },
                            "Malwarebytes": {
                                "category": "undetected",
                                "engine_name": "Malwarebytes",
                                "engine_update": "20191019",
                                "engine_version": "2.1.1.1115",
                                "method": "blacklist",
                                "result": null
                            },
                            "McAfee": {
                                "category": "malicious",
                                "engine_name": "McAfee",
                                "engine_update": "20191019",
                                "engine_version": "6.0.6.653",
                                "method": "blacklist",
                                "result": "PUP-HXA"
                            },
                            "McAfee-GW-Edition": {
                                "category": "malicious",
                                "engine_name": "McAfee-GW-Edition",
                                "engine_update": "20191019",
                                "engine_version": "v2017.3010",
                                "method": "blacklist",
                                "result": "BehavesLike.Win64.Exploit.vh"
                            },
                            "MicroWorld-eScan": {
                                "category": "malicious",
                                "engine_name": "MicroWorld-eScan",
                                "engine_update": "20191019",
                                "engine_version": "14.0.297.0",
                                "method": "blacklist",
                                "result": "Trojan.GenericKD.41867189"
                            },
                            "Microsoft": {
                                "category": "malicious",
                                "engine_name": "Microsoft",
                                "engine_update": "20191019",
                                "engine_version": "1.1.16500.1",
                                "method": "blacklist",
                                "result": "Trojan:Win64/CoinMiner.WE"
                            },
                            "NANO-Antivirus": {
                                "category": "undetected",
                                "engine_name": "NANO-Antivirus",
                                "engine_update": "20191019",
                                "engine_version": "1.0.134.24859",
                                "method": "blacklist",
                                "result": null
                            },
                            "Paloalto": {
                                "category": "undetected",
                                "engine_name": "Paloalto",
                                "engine_update": "20191020",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Panda": {
                                "category": "undetected",
                                "engine_name": "Panda",
                                "engine_update": "20191019",
                                "engine_version": "4.6.4.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "Qihoo-360": {
                                "category": "undetected",
                                "engine_name": "Qihoo-360",
                                "engine_update": "20191020",
                                "engine_version": "1.0.0.1120",
                                "method": "blacklist",
                                "result": null
                            },
                            "Rising": {
                                "category": "malicious",
                                "engine_name": "Rising",
                                "engine_update": "20191019",
                                "engine_version": "25.0.0.24",
                                "method": "blacklist",
                                "result": "PUF.Win64/CoinMiner!1.BD2E (CLASSIC)"
                            },
                            "SUPERAntiSpyware": {
                                "category": "undetected",
                                "engine_name": "SUPERAntiSpyware",
                                "engine_update": "20191019",
                                "engine_version": "5.6.0.1032",
                                "method": "blacklist",
                                "result": null
                            },
                            "SentinelOne": {
                                "category": "malicious",
                                "engine_name": "SentinelOne",
                                "engine_update": "20190807",
                                "engine_version": "1.0.31.22",
                                "method": "blacklist",
                                "result": "DFI - Suspicious PE"
                            },
                            "Sophos": {
                                "category": "malicious",
                                "engine_name": "Sophos",
                                "engine_update": "20191019",
                                "engine_version": "4.98.0",
                                "method": "blacklist",
                                "result": "Troj/Miner-VI"
                            },
                            "Symantec": {
                                "category": "malicious",
                                "engine_name": "Symantec",
                                "engine_update": "20191019",
                                "engine_version": "1.11.0.0",
                                "method": "blacklist",
                                "result": "Miner.XMRig"
                            },
                            "SymantecMobileInsight": {
                                "category": "type-unsupported",
                                "engine_name": "SymantecMobileInsight",
                                "engine_update": "20190920",
                                "engine_version": "2.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "TACHYON": {
                                "category": "undetected",
                                "engine_name": "TACHYON",
                                "engine_update": "20191019",
                                "engine_version": "2019-10-19.02",
                                "method": "blacklist",
                                "result": null
                            },
                            "Tencent": {
                                "category": "undetected",
                                "engine_name": "Tencent",
                                "engine_update": "20191020",
                                "engine_version": "1.0.0.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "TotalDefense": {
                                "category": "undetected",
                                "engine_name": "TotalDefense",
                                "engine_update": "20191019",
                                "engine_version": "37.1.62.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "Trapmine": {
                                "category": "undetected",
                                "engine_name": "Trapmine",
                                "engine_update": "20190826",
                                "engine_version": "3.1.81.800",
                                "method": "blacklist",
                                "result": null
                            },
                            "TrendMicro": {
                                "category": "undetected",
                                "engine_name": "TrendMicro",
                                "engine_update": "20191019",
                                "engine_version": "11.0.0.1006",
                                "method": "blacklist",
                                "result": null
                            },
                            "TrendMicro-HouseCall": {
                                "category": "undetected",
                                "engine_name": "TrendMicro-HouseCall",
                                "engine_update": "20191019",
                                "engine_version": "10.0.0.1040",
                                "method": "blacklist",
                                "result": null
                            },
                            "Trustlook": {
                                "category": "type-unsupported",
                                "engine_name": "Trustlook",
                                "engine_update": "20191020",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "VBA32": {
                                "category": "undetected",
                                "engine_name": "VBA32",
                                "engine_update": "20191018",
                                "engine_version": "4.2.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "VIPRE": {
                                "category": "malicious",
                                "engine_name": "VIPRE",
                                "engine_update": "20191019",
                                "engine_version": "78696",
                                "method": "blacklist",
                                "result": "Trojan.Win32.Generic!BT"
                            },
                            "ViRobot": {
                                "category": "undetected",
                                "engine_name": "ViRobot",
                                "engine_update": "20191019",
                                "engine_version": "2014.3.20.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Webroot": {
                                "category": "undetected",
                                "engine_name": "Webroot",
                                "engine_update": "20191020",
[...]
