---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/redirecting_urls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 75a55961aea4f07bb619d4580b04f3dc
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [],
            "links": {
                "self": "https://www.virustotal.com/api/v3/urls/2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067/redirecting_urls?limit=10"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:57:55 GMT
recorded_with: VCR 5.0.0
