---
http_interactions:
  - request:
      method: post
      uri: https://www.virustotal.com/api/v3/files/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f/votes
      body:
        encoding: UTF-8
        string: '{"data":{"type":"vote","attributes":{"verdict":"harmless"}}}'
      headers:
        X-Apikey:
          - "<VIRUSTOTAL_API_KEY>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Cloud-Trace-Context:
          - bbec8038cd8d7e8e154a5b116776c500
      body:
        encoding: UTF-8
        string: |-
          {
              "data": {
                  "attributes": {
                      "date": 1569495089,
                      "value": 1,
                      "verdict": "harmless"
                  },
                  "id": "f-275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f-bd9b1994",
                  "links": {
                      "self": null
                  },
                  "type": "vote"
              }
          }
    recorded_at: Thu, 26 Sep 2019 10:51:29 GMT
recorded_with: VCR 4.0.0
