---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/votes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 62b83f6715688243f2056ebba819a34e;o=1
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1566728863,
                        "value": 1,
                        "verdict": "harmless"
                    },
                    "id": "u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067-cd0f9ab8",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/votes/u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067-cd0f9ab8"
                    },
                    "type": "vote"
                },
                {
                    "attributes": {
                        "date": 1564580951,
                        "value": 1,
                        "verdict": "harmless"
                    },
                    "id": "u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067-2ee7a6e2",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/votes/u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d80543548[...]
