---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/graphs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3fd15c1db20767e2331a1c7d4b67763a
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "comments_count": 0,
                        "creation_date": 1567838944,
                        "graph_data": {
                            "description": "#malicious #email",
                            "version": "3.8.1"
                        },
                        "last_modified_date": 1567841374,
                        "links": [
                            {
                                "connection_type": "resolutions",
                                "source": "crmvrs.gov.br",
                                "target": "relationships_resolutions_crmvrsgovbr"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_resolutions_crmvrsgovbr",
                                "target": "191.252.4.40"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_resoluti[...]
