---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/graphs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - e7e158d08e8837c20237d9e6f060d5dc
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "comments_count": 0,
                        "creation_date": 1561372988,
                        "graph_data": {
                            "description": "WannaCry",
                            "version": "3.7.3"
                        },
                        "last_modified_date": 1561373294,
                        "links": [
                            {
                                "connection_type": "itw_domains",
                                "source": "ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa",
                                "target": "relationships_itw_domains_ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa"
                            },
                            {
                                "connection_type": "itw_domains",
                                "source": "relationships_itw_domains_ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa",
                                "target": "download.eu-west-3.fromsmash.co"
                            },
                            {
      [...]
