---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9cdc75495d410c173f7603658f467d66
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1569482367,
                        "host_name": "howlandtradingcompany.com",
                        "ip_address": "1.1.1.1",
                        "resolver": "VirusTotal"
                    },
                    "id": "1.1.1.1howlandtradingcompany.com",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/1.1.1.1howlandtradingcompany.com"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1569481108,
                        "host_name": "gmrwlpay.net",
                        "ip_address": "1.1.1.1",
                        "resolver": "VirusTotal"
                    },
                    "id": "1.1.1.1gmrwlpay.net",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/1.1.1.1gmrwlpay.net"
               [...]
