---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - a92299a25956a1f16a8929482cd45bce
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1571522736,
                        "host_name": "kdhnuvweq.xpqgimn.qypvthu.loqu.forum.mythem.es",
                        "ip_address": "1.1.1.1",
                        "resolver": "VirusTotal"
                    },
                    "id": "1.1.1.1kdhnuvweq.xpqgimn.qypvthu.loqu.forum.mythem.es",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/1.1.1.1kdhnuvweq.xpqgimn.qypvthu.loqu.forum.mythem.es"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1571519987,
                        "host_name": "fr33q.no-ip.biz",
                        "ip_address": "1.1.1.1",
                        "resolver": "VirusTotal"
                    },
                    "id": "1.1.1.1fr33q.no-ip.biz",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/1.1.1.1fr33q.no-ip.biz"
      [...]
