---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/files/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f/analyse
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - af992616ce7234d7b1a8cb5bcb0911b1
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": 1569495631,
                "type": "analysis"
            }
        }
  recorded_at: Thu, 26 Sep 2019 11:02:59 GMT
recorded_with: VCR 4.0.0
