---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/files/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f/analyse
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 77a45547bbedb207f6b84484ae85fc78
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": 1571524923,
                "type": "analysis"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:43:41 GMT
recorded_with: VCR 5.0.0
