---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/historical_whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7ab280b64a1b83af63722c8b64905363;o=1
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "first_seen_date": 1570061726,
                        "last_updated": 1557755914,
                        "registrar_name": "MarkMonitor Inc.",
                        "whois_map": {
                            "Creation Date": "2007-10-09T18:20:50Z",
                            "DNSSEC": "unsigned",
                            "Domain Name": "GITHUB.COM",
                            "Domain Status": "clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited | clientTransferProhibited https://icann.org/epp#clientTransferProhibited | clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited",
                            "Name Server": "NS-1283.AWSDNS-32.ORG | NS-1707.AWSDNS-21.CO.UK | NS-421.AWSDNS-52.COM | NS-520.AWSDNS-01.NET | NS1.P16.DYNECT.NET | NS2.P16.DYNECT.NET | NS3.P16.DYNECT.NET | NS4.P16.DYNECT.NET",
                            "Registrar": "MarkMonitor Inc.",
                            "Registrar Abuse Contact Email": "abusecomplaints@markmonitor.com",
                            "Registrar Abuse Contact Phone": "+1.2083895740",
                            "Registrar IANA ID": "292",
                            "Registrar URL": "http://www.markmonitor.com",
                            "Registrar WHOIS Server": "whois.markmonitor.com",
                            "Registry Domain ID": "1264983250_DOMAIN_COM-VRSN",
                            "Registry Expiry Date": "2020-10-09T18:20:50Z",
                            "Updated Date": "2019-05-13T13:58:34Z"
                        }
                    },
                    "id": "b1be45e4fabf80c22bedd011c4175258581a5091111ea05cc436eec30d46fe48",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/whois/b1be45e4fabf80c22bedd011c4175258581a5091111ea05cc436eec30d46fe48"
                    },
                    "type": "whois"
                },
                {
                    "attributes": {
                        "first_seen_date": 1569813243,
                        "last_updated": 1557755914,
                        "registrant_country": "US",
                        "registrar_name": "MarkMonitor Inc. | MarkMonitor, Inc.",
                        "whois_map": {
                            "Admin Country": "US",
                            "Admin Organization": "GitHub, Inc.",
                            "Admin State/Province": "CA",
                            "Creation Date": "2007-10-09T11:20:50-0700 | 2007-10-09T18:20:50Z",
                            "DNSSEC": "unsigned",
                            "Domain Name": "GITHUB.[...]
