---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/graphs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9554b4051630cb96a7feff0180a558c3
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "comments_count": 0,
                        "creation_date": 1548190352,
                        "graph_data": {
                            "description": "Untitled Graph",
                            "version": "3.1.1"
                        },
                        "last_modified_date": 1548190352,
                        "links": [
                            {
                                "connection_type": "resolutions",
                                "source": "68.64.166.82",
                                "target": "relationships_resolutions_68z64z166z82"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_resolutions_68z64z166z82",
                                "target": "ftp.1226bye.xyz"
                            },
                            {
                                "connection_type": "resolutions",
                                "source": "relationships_res[...]
