---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/file/report
    body:
      encoding: US-ASCII
      string: resource=7657fcb7d772448a6d8504e4b20168b8&apikey=<VIRUSTOTAL_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 53ededf8a989d586f18c784e72fe5ced
    body:
      encoding: UTF-8
      string: '{"scans": {"Bkav": {"detected": true, "version": "1.3.0.9899", "result":
        "W32.ZeustrackerZS.Trojan", "update": "20190425"}, "MicroWorld-eScan": {"detected":
        true, "version": "14.0.297.0", "result": "Gen:Variant.Kazy.8782", "update":
        "20190429"}, "FireEye": {"detected": true, "version": "29.7.0.0", "result":
        "Generic.mg.7657fcb7d772448a", "update": "20190429"}, "CAT-QuickHeal": {"detected":
        true, "version": "14.00", "result": "Trojan.Ramnit.A", "update": "20190428"},
        "ALYac": {"detected": true, "version": "1.1.1.5", "result": "Gen:Variant.Kazy.8782",
        "update": "20190429"}, "Cylance": {"detected": true, "version": "2.3.1.101",
        "result": "Unsafe", "update": "20190429"}, "Zillya": {"detected": true, "version":
        "2.0.0.3804", "result": "Worm.AutoRun.Win32.135552", "update": "20190426"},
        "SUPERAntiSpyware": {"detected": true, "version": "5.6.0.1032", "result":
        "Trojan.Agent/Gen-FakeSecurity", "update": "20190423"}, "TheHacker": {"detected":
        true, "version": "6.8.0.5.4189", "result": "Trojan/Lebag.agu", "update": "20190428"},
        "Alibaba": {"detected": true, "version": "0.4.0.6", "result": "Worm:Win32/Ramnit.e82fe3dc",
        "update": "20190426"}, "K7GW": {"detected": true, "version": "11.40.30736",
        "result": "Riskware ( 0015e4f11 )", "update": "20190428"}, "K7AntiVirus":
        {"detected": true, "version": "11.40.30737", "result": "Riskware ( 0015e4f11
        )", "update": "20190429"}, "Arcabit": {"detected": true, "version": "1.0.0.845",
        "result": "Trojan.Kazy.D224E", "update": "20190428"}, "Invincea": {"detected":
        true, "version": "6.3.6.26157", "result": "heuristic", "update": "20190313"},
        "Baidu": {"detected": true, "version": "1.0.0.2", "result": "Win32.Worm.Autorun.f",
        "update": "20190318"}, "Babable": {"detected": false, "version": "9107201",
        "result": null, "update": "20190424"}, "F-Prot": {"detected": true, "version":
        "4.7.1.166", "result": "W32/Ramnit.K.gen!Eldorado", "update": "20190429"},
        "Symantec": {"detected": true, "version": "1.9.0.0", "result": "W32.Ramnit",
        "update": "20190428"}, "TotalDefense": {"detected": true, "version": "37.1.62.1",
        "result": "Win32/Ramnit.B!Dropper", "update": "20190428"}, "TrendMicro-HouseCall":
        {"detected": true, "version": "10.0.0.1040", "result": "TSPY_ZBOT.SMHA", "update":
        "20190429"}, "Paloalto": {"detected": true, "version": "1.0", "result": "generic.ml",
        "update": "20190429"}, "ClamAV": {"detected": true, "version": "0.101.2.0",
        "result": "Win.Trojan.Ramnit-7847", "update": "20190428"}, "Kaspersky": {"detected":
        true, "version": "15.0.1.13", "result": "Worm.Win32.Autorun.icp", "update":
        "20190429"}, "BitDefender": {"detected": true, "version": "7.2", "result":
        "Gen:Variant.Kazy.8782", "update": "20190429"}, "NANO-Antivirus": {"detected":
        true, "version": "1.0.134.24788", "result": "Trojan.Win32.DownLoad2.wtigj",
        "update": "20190429"}, "AegisLab": {"detected": true, "version": "4.2", "result":
        "Worm.Win32.Autorun.o!c", "update": "20190429"}, "Avast": {"detected": true,
        "version": "18.4.3895.0", "result": "Win32:Kryptik-JOV [Trj]", "update": "20190429"},
        "Rising": {"detected": true, "version": "25.0.0.24", "result": "Trojan.Win32.Generic.127B2A0E
        (C64:YzY0OklB66P4SAs3)", "update": "20190429"}, "Ad-Aware": {"detected": true,
        "version": "3.0.5.370", "result": "Gen:Variant.Kazy.8782", "update": "20190429"},
        "Trustlook": {"detected": false, "version": "1.0", "result": null, "update":
        "20190429"}, "Emsisoft": {"detected": true, "version": "2018.4.0.1029", "result":
        "Gen:Variant.Kazy.8782 (B)", "update": "20190429"}, "Comodo": {"detected":
        true, "version": "30787", "result": "TrojWare.Win32.Kryptik.KLV@4neax2", "update":
        "20190428"}, "F-Secure": {"detected": true, "version": "12.0.86.52", "result":
        "Trojan.TR/Drop.Liks.A", "update": "20190428"}, "DrWeb": {"detected": true,
        "version": "7.0.34.11020", "result": "Win32.HLLW.Tazebama.235", "update":
        "20190429"}, "VIPRE": {"detected": true, "version": "74672", "result": "Trojan.Win32.Generic!BT",
        "update": "20190429"}, "TrendMicro": {"detected": true, "version": "10.0.0.1040",
        "result": "TSPY_ZBOT.SMHA", "update": "20190429"}, "McAfee-GW-Edition": {"detected":
        true, "version": "v2017.3010", "result": "BehavesLike.Win32.PWSZbot.ch", "update":
        "20190428"}, "Fortinet": {"detected": true, "version": "5.4.247.0", "result":
        "W32/Kryptik.KLV!tr", "update": "20190429"}, "Trapmine": {"detected": true,
        "version": "3.1.52.760", "result": "malicious.high.ml.score", "update": "20190325"},
        "CMC": {"detected": true, "version": "1.1.0.977", "result": "Trojan.Win32.Lebag!O",
        "update": "20190321"}, "Sophos": {"detected": true, "version": "4.98.0", "result":
        "Troj/ZXC-G", "update": "20190429"}, "Ikarus": {"detected": true, "version":
        "0.1.5.2", "result": "Virus.Win32.Virtob", "update": "20190428"}, "Cyren":
        {"detected": true, "version": "6.2.0.1", "result": "W32/Ramnit.K.gen!Eldorado",
        "update": "20190429"}, "Jiangmin": {"detected": true, "version": "16.0.100",
        "result": "Trojan/Generic.dkmt", "update": "20190429"}, "Webroot": {"detected":
        true, "version": "1.0.0.403", "result": "Trojan:Win32/Eyestye.H", "update":
        "20190429"}, "Avira": {"detected": true, "version": "8.3.3.8", "result": "TR/Drop.Liks.A",
        "update": "20190428"}, "MAX": {"detected": true, "version": "2018.9.12.1",
        "result": "malware (ai score=100)", "update": "20190429"}, "Antiy-AVL": {"detected":
        true, "version": "3.0.0.1", "result": "Worm/Win32.Autorun.icp", "update":
        "20190429"}, "Kingsoft": {"detected": false, "version": "2013.8.14.323", "result":
        null, "update": "20190429"}, "Endgame": {"detected": true, "version": "3.0.9",
        "result": "malicious (high confidence)", "update": "20190403"}, "Microsoft":
        {"detected": true, "version": "1.1.15900.4", "result": "Trojan:Win32/Ramnit",
        "update": "20190429"}, "ViRobot": {"detected": true, "version": "2014.3.20.0",
        "result": "Trojan.Win32.Agent.109056.CR", "update": "20190428"}, "ZoneAlarm":
        {"detected": true, "version": "1.0", "result": "Worm.Win32.Autorun.icp", "update":
        "20190429"}, "Avast-Mobile": {"detected": false, "version": "190428-00", "result":
        null, "update": "20190428"}, "AhnLab-V3": {"detected": true, "version": "3.15.0.23609",
        "result": "Trojan/Win32.Zbot.R19508", "update": "20190428"}, "Acronis": {"detected":
        true, "version": "1.0.1.48", "result": "suspicious", "update": "20190427"},
        "McAfee": {"detected": true, "version": "6.0.6.653", "result": "PWS-Zbot.gen.cy",
        "update": "20190429"}, "TACHYON": {"detected": true, "version": "2019-04-29.01",
        "result": "Trojan-Spy/W32.ZBot.109056.AR", "update": "20190429"}, "VBA32":
        {"detected": true, "version": "4.0.0", "result": "Worm.Autorun", "update":
        "20190426"}, "Malwarebytes": {"detected": true, "version": "2.1.1.1115", "result":
        "Trojan.Zbot", "update": "20190429"}, "Zoner": {"detected": true, "version":
        "1.0", "result": "Trojan.Win32.Ramnit.31771", "update": "20190429"}, "ESET-NOD32":
        {"detected": true, "version": "19270", "result": "Win32/Ramnit.A", "update":
        "20190428"}, "Tencent": {"detected": true, "version": "1.0.0.1", "result":
        "Worm.Win32.AutoRun.aaa", "update": "20190429"}, "Yandex": {"detected": true,
        "version": "5.5.1.3", "result": "Trojan.Ramnit!cLbJ7UZPdfE", "update": "20190426"},
        "SentinelOne": {"detected": true, "version": "1.0.25.316", "result": "DFI
        - Malicious PE", "update": "20190420"}, "eGambit": {"detected": true, "version":
        "v4.3.6", "result": "Unsafe.AI_Score_70%", "update": "20190429"}, "GData":
        {"detected": true, "version": "A:25.21716B:25.14959", "result": "Gen:Variant.Kazy.8782",
        "update": "20190429"}, "MaxSecure": {"detected": true, "version": "1.0.0.1",
        "result": "Worm.Autorun.icp", "update": "20190427"}, "AVG": {"detected": true,
        "version": "18.4.3895.0", "result": "Win32:Kryptik-JOV [Trj]", "update": "20190429"},
        "Cybereason": {"detected": true, "version": "1.2.449", "result": "malicious.7d7724",
        "update": "20190417"}, "Panda": {"detected": true, "version": "4.6.4.2", "result":
        "Trj/Ramnit.F", "update": "20190428"}, "CrowdStrike": {"detected": true, "version":
        "1.0", "result": "win/malicious_confidence_100% (W)", "update": "20190212"},
        "Qihoo-360": {"detected": true, "version": "1.0.0.1120", "result": "Win32/Trojan.544",
        "update": "20190429"}}, "scan_id": "54bc950d46a0d1aa72048a17c8275743209e6c17bdacfc4cb9601c9ce3ec9a71-1556507178",
        "sha1": "84c7201f7e59cb416280fd69a2e7f2e349ec8242", "resource": "7657fcb7d772448a6d8504e4b20168b8",
        "response_code": 1, "scan_date": "2019-04-29 03:06:18", "permalink": "https://www.virustotal.com/file/54bc950d46a0d1aa72048a17c8275743209e6c17bdacfc4cb9601c9ce3ec9a71/analysis/1556507178/",
        "verbose_msg": "Scan finished, information embedded", "total": 73, "positives":
        69, "sha256": "54bc950d46a0d1aa72048a17c8275743209e6c17bdacfc4cb9601c9ce3ec9a71",
        "md5": "7657fcb7d772448a6d8504e4b20168b8"}'
  recorded_at: Wed, 01 May 2019 23:18:31 GMT
recorded_with: VCR 4.0.0
