---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/file/report
    body:
      encoding: US-ASCII
      string: resource=726a2eedb9df3d63ec1b4a7d774a799901f1a2b9&apikey=<VIRUSTOTAL_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 9adfd31b6e239bb896687c18afbf44b4
    body:
      encoding: UTF-8
      string: '{"scans": {"Bkav": {"detected": false, "version": "1.3.0.9899", "result":
        null, "update": "20190410"}, "TotalDefense": {"detected": false, "version":
        "37.1.62.1", "result": null, "update": "20190411"}, "MicroWorld-eScan": {"detected":
        false, "version": "14.0.297.0", "result": null, "update": "20190411"}, "FireEye":
        {"detected": false, "version": "29.7.0.0", "result": null, "update": "20190411"},
        "CAT-QuickHeal": {"detected": false, "version": "14.00", "result": null, "update":
        "20190411"}, "ALYac": {"detected": false, "version": "1.1.1.5", "result":
        null, "update": "20190411"}, "Malwarebytes": {"detected": false, "version":
        "2.1.1.1115", "result": null, "update": "20190411"}, "SUPERAntiSpyware": {"detected":
        false, "version": "5.6.0.1032", "result": null, "update": "20190410"}, "TheHacker":
        {"detected": false, "version": "6.8.0.5.4131", "result": null, "update": "20190405"},
        "K7GW": {"detected": false, "version": "11.38.30567", "result": null, "update":
        "20190411"}, "K7AntiVirus": {"detected": false, "version": "11.38.30569",
        "result": null, "update": "20190411"}, "Baidu": {"detected": false, "version":
        "1.0.0.2", "result": null, "update": "20190318"}, "NANO-Antivirus": {"detected":
        false, "version": "1.0.134.24576", "result": null, "update": "20190411"},
        "F-Prot": {"detected": false, "version": "4.7.1.166", "result": null, "update":
        "20190411"}, "ESET-NOD32": {"detected": false, "version": "19177", "result":
        null, "update": "20190411"}, "TrendMicro-HouseCall": {"detected": false, "version":
        "10.0.0.1040", "result": null, "update": "20190411"}, "Avast": {"detected":
        false, "version": "18.4.3895.0", "result": null, "update": "20190411"}, "ClamAV":
        {"detected": false, "version": "0.101.2.0", "result": null, "update": "20190411"},
        "Kaspersky": {"detected": false, "version": "15.0.1.13", "result": null, "update":
        "20190411"}, "BitDefender": {"detected": false, "version": "7.2", "result":
        null, "update": "20190411"}, "Babable": {"detected": false, "version": "9107201",
        "result": null, "update": "20180918"}, "ViRobot": {"detected": false, "version":
        "2014.3.20.0", "result": null, "update": "20190411"}, "Tencent": {"detected":
        false, "version": "1.0.0.1", "result": null, "update": "20190411"}, "Ad-Aware":
        {"detected": false, "version": "3.0.5.370", "result": null, "update": "20190411"},
        "Emsisoft": {"detected": false, "version": "2018.4.0.1029", "result": null,
        "update": "20190411"}, "Comodo": {"detected": false, "version": "30706", "result":
        null, "update": "20190411"}, "F-Secure": {"detected": false, "version": "12.0.86.52",
        "result": null, "update": "20190411"}, "DrWeb": {"detected": false, "version":
        "7.0.34.11020", "result": null, "update": "20190411"}, "Zillya": {"detected":
        false, "version": "2.0.0.3794", "result": null, "update": "20190410"}, "McAfee-GW-Edition":
        {"detected": false, "version": "v2017.3010", "result": null, "update": "20190411"},
        "CMC": {"detected": false, "version": "1.1.0.977", "result": null, "update":
        "20190321"}, "Sophos": {"detected": false, "version": "4.98.0", "result":
        null, "update": "20190411"}, "Ikarus": {"detected": false, "version": "0.1.5.2",
        "result": null, "update": "20190411"}, "Cyren": {"detected": false, "version":
        "6.2.0.1", "result": null, "update": "20190411"}, "Jiangmin": {"detected":
        false, "version": "16.0.100", "result": null, "update": "20190411"}, "Avira":
        {"detected": false, "version": "8.3.3.8", "result": null, "update": "20190411"},
        "Fortinet": {"detected": false, "version": "5.4.247.0", "result": null, "update":
        "20190411"}, "Antiy-AVL": {"detected": false, "version": "3.0.0.1", "result":
        null, "update": "20190411"}, "Kingsoft": {"detected": false, "version": "2013.8.14.323",
        "result": null, "update": "20190411"}, "Arcabit": {"detected": false, "version":
        "1.0.0.845", "result": null, "update": "20190411"}, "AegisLab": {"detected":
        false, "version": "4.2", "result": null, "update": "20190411"}, "ZoneAlarm":
        {"detected": false, "version": "1.0", "result": null, "update": "20190411"},
        "Avast-Mobile": {"detected": false, "version": "190411-00", "result": null,
        "update": "20190411"}, "Microsoft": {"detected": false, "version": "1.1.15800.1",
        "result": null, "update": "20190411"}, "AhnLab-V3": {"detected": false, "version":
        "3.15.0.23609", "result": null, "update": "20190411"}, "McAfee": {"detected":
        false, "version": "6.0.6.653", "result": null, "update": "20190411"}, "MAX":
        {"detected": false, "version": "2018.9.12.1", "result": null, "update": "20190411"},
        "VBA32": {"detected": false, "version": "4.0.0", "result": null, "update":
        "20190411"}, "Zoner": {"detected": false, "version": "1.0", "result": null,
        "update": "20190411"}, "Rising": {"detected": false, "version": "25.0.0.24",
        "result": null, "update": "20190411"}, "Yandex": {"detected": false, "version":
        "5.5.1.3", "result": null, "update": "20190411"}, "TACHYON": {"detected":
        false, "version": "2019-04-11.02", "result": null, "update": "20190411"},
        "GData": {"detected": false, "version": "A:25.21507B:25.14822", "result":
        null, "update": "20190411"}, "AVG": {"detected": false, "version": "18.4.3895.0",
        "result": null, "update": "20190411"}, "Panda": {"detected": false, "version":
        "4.6.4.2", "result": null, "update": "20190411"}, "Qihoo-360": {"detected":
        false, "version": "1.0.0.1120", "result": null, "update": "20190411"}}, "scan_id":
        "b35ef2d8a3ee0d29eecb83acf45c1f192ceca75ab10dec861166af2b7bda373b-1554991830",
        "sha1": "726a2eedb9df3d63ec1b4a7d774a799901f1a2b9", "resource": "726a2eedb9df3d63ec1b4a7d774a799901f1a2b9",
        "response_code": 1, "scan_date": "2019-04-11 14:10:30", "permalink": "https://www.virustotal.com/file/b35ef2d8a3ee0d29eecb83acf45c1f192ceca75ab10dec861166af2b7bda373b/analysis/1554991830/",
        "verbose_msg": "Scan finished, information embedded", "total": 56, "positives":
        0, "sha256": "b35ef2d8a3ee0d29eecb83acf45c1f192ceca75ab10dec861166af2b7bda373b",
        "md5": "998a38ee3e5d17dd1081fcd96ee81342"}'
  recorded_at: Thu, 02 May 2019 11:06:40 GMT
recorded_with: VCR 4.0.0
