---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1a122827fdfbf9490f55ad40cf675fde
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": "YmE0ZTM0ZGQ0YmRlNjdiMjIxMzYyZDU0YzRiYWYwNzA6MTU2OTQ4NzAzMA==",
                "type": "analysis"
            }
        }
  recorded_at: Thu, 26 Sep 2019 08:37:10 GMT
recorded_with: VCR 4.0.0
