---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - db64f19729ffdcccd46db9b11c8fbb61
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": "YmE0ZTM0ZGQ0YmRlNjdiMjIxMzYyZDU0YzRiYWYwNzA6MTU3MTUyNDc2OA==",
                "type": "analysis"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:43:41 GMT
recorded_with: VCR 5.0.0
