---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/vtapi/v2/file/behaviour?apikey=<VIRUSTOTAL_API_KEY>&hash=726a2eedb9df3d63ec1b4a7d774a799901f1a2b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ae37054fb2f3aaec748734ee97160f60
    body:
      encoding: UTF-8
      string: '{"response_code": 0, "hash": "726a2eedb9df3d63ec1b4a7d774a799901f1a2b9",
        "verbose_msg": "No behavioural report for this file"}'
  recorded_at: Thu, 02 May 2019 11:06:43 GMT
recorded_with: VCR 4.0.0
