---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 657d3bb2d93a465f4f0dca585243751f
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1555029615,
                        "html": "Its GitHub everybody!! Yay! It&#39;s raining Octocats for everyone!",
                        "tags": [],
                        "text": "Its GitHub everybody!! Yay! It's raining Octocats for everyone!",
                        "votes": {
                            "abuse": 0,
                            "negative": 0,
                            "positive": 0
                        }
                    },
                    "id": "d-github.com-990aaacd",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/comments/d-github.com-990aaacd"
                    },
                    "type": "comment"
                },
                {
                    "attributes": {
                        "date": 1553751290,
                        "html": "#safe",
                        "tags": [
                            "safe"
                        ],
                        "text": "#safe",
                        "votes": {
                            "abuse": 0,
                            "negative": 0,
                            "positive": 0
                        }
                    },
                    "id": "d-github.com-c52bf5bf",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/comments/d-github.com-c52bf5bf"
                    },
                    "type": "comment"
                }
            ],
            "links": {
                "self": "https://www.virustotal.com/api/v3/domains/github.com/comments?limit=10"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:36:08 GMT
recorded_with: VCR 5.0.0
