---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/graphs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - b0ea1f7c8395a5dd728d35b246a51cce
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [],
            "links": {
                "self": "https://www.virustotal.com/api/v3/urls/2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067/graphs?limit=10"
            }
        }
  recorded_at: Thu, 26 Sep 2019 07:50:51 GMT
recorded_with: VCR 4.0.0
