---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 27293af50baeacefcad9579797f76e00
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [],
            "links": {
                "self": "https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/comments?limit=10"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:36:20 GMT
recorded_with: VCR 5.0.0
