---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9d1c8cdc1940620831f1a90f20ead363
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [],
            "links": {
                "self": "https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/comments?limit=10"
            }
        }
  recorded_at: Thu, 26 Sep 2019 07:20:28 GMT
recorded_with: VCR 4.0.0
