---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/analyse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - f206359748ccda749ae282e15aa2010f
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": "u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067-1569484202",
                "type": "analysis"
            }
        }
  recorded_at: Thu, 26 Sep 2019 07:50:57 GMT
recorded_with: VCR 4.0.0
