---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/analyse
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - e7b6f2fd3b3eeddf5758664b12fba57a
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": "u-2a1b402420ef46577471cdc7409b0fa2c6a204db316e59ade2d805435489a067-1571524773",
                "type": "analysis"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:39:33 GMT
recorded_with: VCR 5.0.0
