---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/intelligence/search?query=size:1KB-%20name:eicar%20type:text
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 4328c1ddcba3149c9d54af9d65a75487
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "cursor": "eJwNzLEOgyAUBdBfqqiNSwdTDMEECIZK3ls71IBMHag3fnzdznSau-iavmuH4YyYhMH0c4GqkZ-vfurLy-bkno2Yi8WaCWNvoCsrf1jo1kVORs7JhhFWrYUjZ0ovEDwslo2uj4MtLN8HK6osPfR-e5x_TVco-g==",
                "total_hits": 96,
                "allowed_orders": [
                    "first_submission_date",
                    "last_submission_date",
                    "positives",
                    "times_submitted",
                    "size"
                ],
                "days_back": 90
            },
            "data": [
                {
                    "attributes": {
                        "type_description": "Text",
                        "tlsh": "T141A022003B0EEE2BA20B00200032E8B00808020E2CE00A3820A020B8C83308803EC228",
                        "exiftool": {
                            "MIMEType": "text/plain",
                            "FileType": "TXT",
                            "WordCount": "1",
                            "LineCount": "1",
                            "MIMEEncoding": "us-ascii",
                            "FileTypeExtension": "txt",
                            "Newlines": "(none)"
                        },
                        "trid": [
                            {
                                "file_type": "EICAR antivirus test file",
                                "probability": 100.0
                            }
                        ],
                        "antiy_info": "Trojan/Generic.ASBOL.2A",
                        "crowdsourced_yara_results": [
                            {
                                "description": "Rule to detect the EICAR pattern",
                                "source": "https://github.com/advanced-threat-research/Yara-Rules",
                                "author": "Marc Rivero | McAfee ATR Team",
                                "ruleset_name": "MALW_Eicar",
                                "rule_name": "malw_eicar",
                                "ruleset_id": "0019ab4291"
                            },
                            {
                                "description": "Just an EICAR test file - this is boring but users asked for it",
                                "source": "https://github.com/Neo23x0/signature-base",
                                "author": "Florian Roth",
                                "ruleset_name": "gen_suspicious_strings",
                                "rule_name": "SUSP_Just_EICAR",
                                "ruleset_id": "000ae70a1a"
                            }
                        ],
                        "names": [
                            "eicar.com-22046",
                            "eicar.com-19739",
                            "eicar.com-195961",
                            "eicar.com-25816",
                            "eicar.com-13764",
                            "eicar.com-62931",
                            "eicar.com-701",
                            "eicar.com-32636",
                            "eicar.com-5533",
                            "eicar.com-11585",
                            "[...]
