---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1ff0a2cd3eb0b64e2b3e01693579fbee
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "categories": {
                        "BitDefender": "computersandsoftware",
                        "Dr.Web": "social networks",
                        "Forcepoint ThreatSeeker": "information technology",
                        "Websense ThreatSeeker": "information technology"
                    },
                    "creation_date": 1191928850,
                    "last_dns_records": [
                        {
                            "ttl": 59,
                            "type": "A",
                            "value": "140.82.114.3"
                        },
                        {
                            "expire": 1209600,
                            "minimum": 86400,
                            "refresh": 7200,
                            "retry": 900,
                            "rname": "awsdns-hostmaster.amazon.com",
                            "serial": 1,
                            "ttl": 899,
                            "type": "SOA",
                            "value": "ns-1707.awsdns-21.co.uk"
                        },
                        {
                            "ttl": 3599,
                            "type": "TXT",
                            "value": "MS=6BF03E6AF5CB689E315FB6199603BABF2C88D805"
                        },
                        {
                            "ttl": 3599,
                            "type": [...]
