---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/historical_whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 5579f4b2cc653a1fb98751681c342109
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "first_seen_date": 1567178787,
                        "last_updated": 1557755914,
                        "registrant_country": "US",
                        "registrar_name": "MarkMonitor Inc. | MarkMonitor, Inc.",
                        "whois_map": {
                            "Admin Country": "US",
                            "Admin Organization": "GitHub, Inc.",
                            "Admin State/Province": "CA",
                            "Creation Date": "2007-10-09T11:20:50-0700 | 2007-10-09T18:20:50Z",
                            "DNSSEC": "unsigned",
                            "Domain Name": "GITHUB.COM | github.com",
                            "Domain Status": "clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited) | clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited | clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited) | clientTransferProhibited https://icann.org/epp#clientTransferProhibited | clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited) | clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited",
                            "Name Server": "NS-1283.AWSDNS-32.ORG | NS-1707.AWSDNS-21.CO.UK | NS-421.AWSDNS-52.COM | NS-520.AWSDNS-01.NET | NS1.P16.DYNECT.NET | NS2.P16.DYNECT.NET | NS3.P16.DYNECT.NET | NS4.P16.DYNECT.NET | ns-1283.awsdns-32.org | ns-1707.awsdns-21.co.uk | ns-421.awsdns-52.com | ns-520.awsdns-01.net | ns1.p16.dynect.net | ns2.p16.dynect.net | ns3.p16.dynect.net | ns4.p16.dynect.net",
                            "Registrant Country": "US",
                            "Registrant Organization": "e9cfc3ab0c85f792",
                            "Registrant State/Province": "b1952dfc047df18a",
                            "Registrar": "MarkMonitor Inc. | MarkMonitor, Inc.",
                            "Registrar Abuse Contact Email": "abusecomplaints@markmonitor.com",
                            "Registrar Abuse Contact Phone": "+1.2083895740",
                            "Registrar IANA ID": "292",
                            "Registrar Registration Expiration Date": "2020-10-09T11:20:50-0700",
                            "Registrar URL": "http://www.markmonitor.com",
                            "Registrar WHOIS Server": "whois.markmonitor.com",
                            "Registry Domain ID": "1264983250_DOMAIN_COM-VRSN",
                            "Registry Expiry Date": "2020-10-09T18:20:50Z",
                            "Tech Country": "US",
                            "Tech Organization": "GitHub, Inc.",
                            "Tech State/Province": "CA",
                            "Updated Date": "2019-05-13T06:58:33-0700 | 2019-05-13T13:58:34Z"
                        }
                    },
                    "id": "5e4dbec311f1ad3e79ad1c8fa964db4aebf5b9f7940dd48650bed52df6ca0775",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/whois/5e4dbec311f1ad3e79ad1c8fa964db4aebf5b9f7940dd48650bed52df6ca0775"
                    },
                    "type": "whois"
                }
            ],
            "links": {
                "self": "https://www.virustotal.com/api/v3/domains/github.com/historical_whois?limit=10"
            }
        }
  recorded_at: Thu, 26 Sep 2019 07:18:54 GMT
recorded_with: VCR 4.0.0
