---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/siblings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 5823fab5ce8ca9de2f3c7ff5021cadff
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [],
            "links": {
                "self": "https://www.virustotal.com/api/v3/domains/github.com/siblings?limit=10"
            }
        }
  recorded_at: Thu, 26 Sep 2019 07:18:53 GMT
recorded_with: VCR 4.0.0
