---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - '090b54c423a8280ad789be4ba888a55a'
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1569463096,
                        "host_name": "github.com",
                        "ip_address": "140.82.118.4",
                        "resolver": "VirusTotal"
                    },
                    "id": "140.82.118.4github.com",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/140.82.118.4github.com"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1569456867,
                        "host_name": "github.com",
                        "ip_address": "140.82.114.3",
                        "resolver": "VirusTotal"
                    },
                    "id": "140.82.114.3github.com",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/140.82.114.3github.com"
      [...]
