---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/intelligence/search?cursor=eJwNyrEOgjAQANBfKqU1cWAwtpob7gjG0FxXSMTamxzACx8vw9tec7Ku8c6czZ40WtTosbzaPgxfuMKGOq1kx8oyfljwl1PcuFwcpUdFGTwVWCnMlXV-Z2E9eE5wPFroeat9iIZ1cmhp4cJK9yxQTbf_AS4YKAc=&query=entity:url%20hostname:example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6dd1365d7e00a61223e4777807c5681d
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "cursor": "eJwNy0sKwyAQANAr6aiFLrooVYqBmWBRwniBgp9VFqmSwzfLt3jyBloaLe7i3KYDnM6grWONYfevpWBxY90ScA8_nl-V38HwZZz-IEiKOlW0S6fyaQwIZFvLls31J8cqKT4H9iA5hiPbpHJJ2jfxOP_fbCZU",
                "total_hits": 603,
                "allowed_orders": [
                    "first_submission_date",
                    "last_submission_date",
                    "positives",
                    "times_submitted",
                    "status"
                ],
                "days_back": 90
            },
            "data": [
                {
                    "attributes": {
                        "last_modification_date": 1631921936,
                        "times_submitted": 2,
                        "total_votes": {
                            "harmless": 0,
                            "malicious": 0
                        },
                        "threat_names": [],
                        "last_submission_date": 1631921924,
                        "last_http_response_content_length": 1256,
                        "last_http_response_headers": {
                            "content-length": "1256",
                            "x-cache": "HIT",
                            "accept-ranges": "bytes",
                            "expires": "Fri, 24 Sep 2021 23:38:46 GMT",
                            "vary": "Accept-Encoding",
                            "server": "ECS (dna/63B4)",
                            "last-modified": "Thu, 17 Oct 2019 07:18:26 GMT",
                            "etag": "\"3147526947\"",
                            "cache-control": "max-age=604800",
                            "date": "Fri, 17 Sep 2021 23:38:46 GMT",
                            "content-type": "text/html; charset=UTF-8",
                            "age": "315457"
                        },
                        "reputation": 0,
                        "tags": [],
                        "last_analysis_date": 1631921924,
                        "has_content": false,
                        "first_submission_date": 1626104421,
                        "categories": {
                            "Dr.Web": "known infection source",
                            "Forcepoint ThreatSeeker": "information technology",
                            "Sophos": "information technology",
                            "Comodo Valkyrie Verdict": "mobile communications",
                            "BitDefender": "computersandsoftware"
                        },
                        "last_http_response_content_sha256": "ea8fac7c65fb589b0d53560f5251f74f9e9b243478dcb6b3ea79b5e36449c8d9",
                        "last_http_response_code": 200,
                        "last_final_url": "http://example.com/?source=campaign",
                        "url": "http://example.com/?source=campaign",
                        "title": "Example Domain",
                        "last_analysis_stats": {
                            "harmless": 78,
                            "malicious": 2,
                            "suspicious": 0,
                            "undetected": 9,
                            "timeout": 0
                        },
                        "last_analysis_results": {
                            "CMC Threat Intelligence": {
                                "category": "malicious",
                                "result": "malware",
                                "method": "blacklist",
                                "engine_name": "CMC Threat Intelligence"
                            },
                            "Snort IP sample list": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Snort IP sample list"
                            },
                            "VX Vault": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "VX Vault"
                            },
                            "Armis": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Armis"
                            },
                            "Comodo Valkyrie Verdict": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Comodo Valkyrie Verdict"
                            },
                            "PhishLabs": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "PhishLabs"
                            },
                            "K7AntiVirus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "K7AntiVirus"
                            },
                            "CINS Army": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CINS Army"
                            },
                            "Cyren": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Cyren"
                            },
                            "Quttera": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Quttera"
                            },
                            "BlockList": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BlockList"
                            },
                            "OpenPhish": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "OpenPhish"
                            },
                            "0xSI_f33d": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "0xSI_f33d"
                            },
                            "Feodo Tracker": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Feodo Tracker"
                            },
                            "Web Security Guard": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Web Security Guard"
                            },
                            "Scantitan": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Scantitan"
                            },
                            "AlienVault": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "AlienVault"
                            },
                            "Sophos": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sophos"
                            },
                            "Phishtank": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Phishtank"
                            },
                            "EonScope": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "EonScope"
                            },
                            "Cyan": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Cyan"
                            },
                            "Spam404": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Spam404"
                            },
                            "SecureBrain": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "SecureBrain"
                            },
                            "Hoplite Industries": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Hoplite Industries"
                            },
                            "CRDF": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CRDF"
                            },
                            "Rising": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Rising"
                            },
                            "Fortinet": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Fortinet"
                            },
                            "alphaMountain.ai": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "alphaMountain.ai"
                            },
                            "Lionic": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Lionic"
                            },
                            "Virusdie External Site Scan": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Virusdie External Site Scan"
                            },
                            "Artists Against 419": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Artists Against 419"
                            },
                            "Google Safebrowsing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Google Safebrowsing"
                            },
                            "SafeToOpen": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "SafeToOpen"
                            },
                            "ADMINUSLabs": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ADMINUSLabs"
                            },
                            "CyberCrime": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CyberCrime"
                            },
                            "AutoShun": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "AutoShun"
                            },
                            "Trustwave": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Trustwave"
                            },
                            "AICC (MONITORAPP)": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "AICC (MONITORAPP)"
                            },
                            "CyRadar": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CyRadar"
                            },
                            "Dr.Web": {
                                "category": "malicious",
                                "result": "malicious",
                                "method": "blacklist",
                                "engine_name": "Dr.Web"
                            },
                            "Emsisoft": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Emsisoft"
                            },
                            "Abusix": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Abusix"
                            },
                            "Webroot": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Webroot"
                            },
                            "Avira": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Avira"
                            },
                            "securolytics": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "securolytics"
                            },
                            "Antiy-AVL": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Antiy-AVL"
                            },
                            "Quick Heal": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Quick Heal"
                            },
                            "DNS8": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "DNS8"
                            },
                            "benkow.cc": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "benkow.cc"
                            },
                            "EmergingThreats": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "EmergingThreats"
                            },
                            "Yandex Safebrowsing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Yandex Safebrowsing"
                            },
                            "MalwareDomainList": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalwareDomainList"
                            },
                            "Lumu": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Lumu"
                            },
                            "zvelo": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "zvelo"
                            },
                            "Kaspersky": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Kaspersky"
                            },
                            "Sucuri SiteCheck": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sucuri SiteCheck"
                            },
                            "desenmascara.me": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "desenmascara.me"
                            },
                            "URLhaus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "URLhaus"
                            },
                            "PREBYTES": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "PREBYTES"
                            },
                            "StopForumSpam": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "StopForumSpam"
                            },
                            "Blueliv": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Blueliv"
                            },
                            "Netcraft": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Netcraft"
                            },
                            "ZeroCERT": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ZeroCERT"
                            },
                            "Phishing Database": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Phishing Database"
                            },
                            "MalwarePatrol": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalwarePatrol"
                            },
                            "MalBeacon": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalBeacon"
                            },
                            "Sangfor": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sangfor"
                            },
                            "IPsum": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "IPsum"
                            },
                            "Spamhaus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Spamhaus"
                            },
                            "Malwared": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Malwared"
                            },
                            "BitDefender": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BitDefender"
                            },
                            "GreenSnow": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "GreenSnow"
                            },
                            "G-Data": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "G-Data"
                            },
                            "StopBadware": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "StopBadware"
                            },
                            "SCUMWARE.org": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "SCUMWARE.org"
                            },
                            "malwares.com URL checker": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "malwares.com URL checker"
                            },
                            "NotMining": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "NotMining"
                            },
                            "Forcepoint ThreatSeeker": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Forcepoint ThreatSeeker"
                            },
                            "Certego": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Certego"
                            },
                            "ESET": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ESET"
                            },
                            "Threatsourcing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Threatsourcing"
                            },
                            "MalSilo": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalSilo"
                            },
                            "Nucleon": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Nucleon"
                            },
                            "BADWARE.INFO": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BADWARE.INFO"
                            },
                            "ThreatHive": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ThreatHive"
                            },
                            "FraudScore": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "FraudScore"
                            },
                            "Tencent": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Tencent"
                            },
                            "Bfore.Ai PreCrime": {
[...]
