---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/downloaded_files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9920bc890022570034b83dbdf8fd72af
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "exiftool": {
                            "ContentType": "text/html; charset=utf-8",
                            "FileType": "HTML",
                            "FileTypeExtension": "html",
                            "MIMEType": "text/html",
                            "Viewport": "width=device-width, initial-scale=1"
                        },
                        "first_submission_date": 1368095419,
                        "last_analysis_date": 1568596562,
                        "last_analysis_results": {
                            "ALYac": {
                                "category": "undetected",
                                "engine_name": "ALYac",
                                "engine_update": "20190915",
                                "engine_version": "1.1.1.5",
                                "method": "blacklist",
                                "result": null
                            },
                            "APEX": {
                                "category": "type-unsupported",
                                "engine_name": "APEX",
                                "engine_update": "20190913",
                                "engine_version": "5.63",
                                "method": "blacklist",
                                "result": null
                            },
                            "AVG": {
                                "category": "undetected",
                                "engine_name": "AVG",
                                "engine_update": "20190915",
                                "engine_version": "18.4.3895.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Acronis": {
                                "category": "type-unsupported",
                                "engine_name": "Acronis",
                                "engine_update": "20190904",
                                "engine_version": "1.1.1.56",
                                "method": "blacklist",
                                "result": null
                            },
                            "Ad-Aware": {
                                "category": "undetected",
                                "engine_name": "Ad-Aware",
                                "engine_update": "20190915",
                                "engine_version": "3.0.5.370",
                                "method": "blacklist",
                                "result": null
                            },
                            "AegisLab": {
                                "category": "undetected",
                                "engine_name": "AegisLab",
                                "engine_update": "20190915",
                                "engine_version": "4.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "AhnLab-V3": {
                                "category": "undetected",
                                "engine_name": "AhnLab-V3",
                                "engine_update": "20190915",
                                "engine_version": "3.16.1.25089",
                                "method": "blacklist",
                                "result": null
                            },
                            "Alibaba": {
                                "category": "type-unsupported",
                                "engine_name": "Alibaba",
                                "engine_update": "20190527",
                                "engine_version": "0.3.0.5",
                                "method": "blacklist",
                                "result": null
                            },
                            "Antiy-AVL": {
                                "category": "undetected",
                                "engine_name": "Antiy-AVL",
                                "engine_update": "20190916",
                                "engine_version": "3.0.0.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "Arcabit": {
                                "category": "undetected",
                                "engine_name": "Arcabit",
                                "engine_update": "20190916",
                                "engine_version": "1.0.0.856",
                                "method": "blacklist",
                                "result": null
                            },
                            "Avast": {
                                "category": "undetected",
                                "engine_name": "Avast",
                                "engine_update": "20190915",
                                "engine_version": "18.4.3895.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Avast-Mobile": {
                                "category": "undetected",
                                "engine_name": "Avast-Mobile",
                                "engine_update": "20190915",
                                "engine_version": "190915-00",
                                "method": "blacklist",
                                "result": null
                            },
                            "Avira": {
                                "category": "undetected",
                                "engine_name": "Avira",
                                "engine_update": "20190915",
                                "engine_version": "8.3.3.8",
                                "method": "blacklist",
                                "result": null
                            },
                            "Baidu": {
                                "category": "undetected",
                                "engine_name": "Baidu",
                                "engine_update": "20190318",
                                "engine_version": "1.0.0.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "BitDefender": {
                                "category": "undetected",
                                "engine_name": "BitDefender",
                                "engine_update": "20190915",
                                "engine_version": "7.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "Bkav": {
                                "category": "undetected",
                                "engine_name": "Bkav",
                                "engine_update": "20190913",
                                "engine_version": "1.3.0.10239",
                                "method": "blacklist",
                                "result": null
                            },
                            "CAT-QuickHeal": {
                                "category": "undetected",
                                "engine_name": "CAT-QuickHeal",
                                "engine_update": "20190915",
                                "engine_version": "14.00",
                                "method": "blacklist",
                                "result": null
                            },
                            "CMC": {
                                "category": "undetected",
                                "engine_name": "CMC",
                                "engine_update": "20190321",
                                "engine_version": "1.1.0.977",
                                "method": "blacklist",
                                "result": null
                            },
                            "ClamAV": {
                                "category": "undetected",
                                "engine_name": "ClamAV",
                                "engine_update": "20190915",
                                "engine_version": "0.101.4.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Comodo": {
                                "category": "undetected",
                                "engine_name": "Comodo",
                                "engine_update": "20190915",
                                "engine_version": "31480",
                                "method": "blacklist",
                                "result": null
                            },
                            "CrowdStrike": {
                                "category": "type-unsupported",
                                "engine_name": "CrowdStrike",
                                "engine_update": "20190702",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Cybereason": {
                                "category": "type-unsupported",
                                "engine_name": "Cybereason",
                                "engine_update": "20190616",
                                "engine_version": "1.2.449",
                                "method": "blacklist",
                                "result": null
                            },
                            "Cylance": {
                                "category": "type-unsupported",
                                "engine_name": "Cylance",
                                "engine_update": "20190916",
                                "engine_version": "2.3.1.101",
                                "method": "blacklist",
                                "result": null
                            },
                            "Cyren": {
                                "category": "undetected",
                                "engine_name": "Cyren",
                                "engine_update": "20190915",
                                "engine_version": "6.2.0.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "DrWeb": {
                                "category": "undetected",
                                "engine_name": "DrWeb",
                                "engine_update": "20190915",
                                "engine_version": "7.0.41.7240",
                                "method": "blacklist",
                                "result": null
                            },
                            "ESET-NOD32": {
                                "category": "undetected",
                                "engine_name": "ESET-NOD32",
                                "engine_update": "20190915",
                                "engine_version": "20024",
                                "method": "blacklist",
                                "result": null
                            },
                            "Emsisoft": {
                                "category": "undetected",
                                "engine_name": "Emsisoft",
                                "engine_update": "20190915",
                                "engine_version": "2018.12.0.1641",
                                "method": "blacklist",
                                "result": null
                            },
                            "Endgame": {
                                "category": "type-unsupported",
                                "engine_name": "Endgame",
                                "engine_update": "20190819",
                                "engine_version": "3.0.14",
                                "method": "blacklist",
                                "result": null
                            },
                            "F-Prot": {
                                "category": "undetected",
                                "engine_name": "F-Prot",
                                "engine_update": "20190916",
                                "engine_version": "4.7.1.166",
                                "method": "blacklist",
                                "result": null
                            },
                            "F-Secure": {
                                "category": "undetected",
                                "engine_name": "F-Secure",
                                "engine_update": "20190915",
                                "engine_version": "12.0.86.52",
                                "method": "blacklist",
                                "result": null
                            },
                            "FireEye": {
                                "category": "undetected",
                                "engine_name": "FireEye",
                                "engine_update": "20190916",
                                "engine_version": "29.7.0.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Fortinet": {
                                "category": "undetected",
                                "engine_name": "Fortinet",
                                "engine_update": "20190915",
                                "engine_version": "5.4.247.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "GData": {
                                "category": "undetected",
                                "engine_name": "GData",
                                "engine_update": "20190916",
                                "engine_version": "A:25.23396B:26.16040",
                                "method": "blacklist",
                                "result": null
                            },
                            "Ikarus": {
                                "category": "undetected",
                                "engine_name": "Ikarus",
                                "engine_update": "20190915",
                                "engine_version": "0.1.5.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "Invincea": {
                                "category": "type-unsupported",
                                "engine_name": "Invincea",
                                "engine_update": "20190904",
                                "engine_version": "6.3.6.26157",
                                "method": "blacklist",
                                "result": null
                            },
                            "Jiangmin": {
                                "category": "undetected",
                                "engine_name": "Jiangmin",
                                "engine_update": "20190916",
                                "engine_version": "16.0.100",
                                "method": "blacklist",
                                "result": null
                            },
                            "K7AntiVirus": {
                                "category": "undetected",
                                "engine_name": "K7AntiVirus",
                                "engine_update": "20190915",
                                "engine_version": "11.66.32014",
                                "method": "blacklist",
                                "result": null
                            },
                            "K7GW": {
                                "category": "undetected",
                                "engine_name": "K7GW",
                                "engine_update": "20190912",
                                "engine_version": "11.66.31997",
                                "method": "blacklist",
                                "result": null
                            },
                            "Kaspersky": {
                                "category": "undetected",
                                "engine_name": "Kaspersky",
                                "engine_update": "20190916",
                                "engine_version": "15.0.1.13",
                                "method": "blacklist",
                                "result": null
                            },
                            "Kingsoft": {
                                "category": "undetected",
                                "engine_name": "Kingsoft",
                                "engine_update": "20190916",
                                "engine_version": "2013.8.14.323",
                                "method": "blacklist",
                                "result": null
                            },
                            "MAX": {
                                "category": "undetected",
                                "engine_name": "MAX",
                                "engine_update": "20190916",
                                "engine_version": "2018.9.12.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "Malwarebytes": {
                                "category": "undetected",
                                "engine_name": "Malwarebytes",
                                "engine_update": "20190916",
                                "engine_version": "2.1.1.1115",
                                "method": "blacklist",
                                "result": null
                            },
                            "McAfee": {
                                "category": "undetected",
                                "engine_name": "McAfee",
                                "engine_update": "20190916",
                                "engine_version": "6.0.6.653",
                                "method": "blacklist",
                                "result": null
                            },
                            "McAfee-GW-Edition": {
                                "category": "undetected",
                                "engine_name": "McAfee-GW-Edition",
                                "engine_update": "20190915",
                                "engine_version": "v2017.3010",
                                "method": "blacklist",
                                "result": null
                            },
                            "MicroWorld-eScan": {
                                "category": "undetected",
                                "engine_name": "MicroWorld-eScan",
                                "engine_update": "20190916",
                                "engine_version": "14.0.297.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Microsoft": {
                                "category": "undetected",
                                "engine_name": "Microsoft",
                                "engine_update": "20190915",
                                "engine_version": "1.1.16300.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "NANO-Antivirus": {
                                "category": "undetected",
                                "engine_name": "NANO-Antivirus",
                                "engine_update": "20190916",
                                "engine_version": "1.0.134.24859",
                                "method": "blacklist",
                                "result": null
                            },
                            "Paloalto": {
                                "category": "type-unsupported",
                                "engine_name": "Paloalto",
                                "engine_update": "20190916",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Panda": {
                                "category": "undetected",
                                "engine_name": "Panda",
                                "engine_update": "20190915",
                                "engine_version": "4.6.4.2",
                                "method": "blacklist",
                                "result": null
                            },
                            "Qihoo-360": {
                                "category": "undetected",
                                "engine_name": "Qihoo-360",
                                "engine_update": "20190916",
                                "engine_version": "1.0.0.1120",
                                "method": "blacklist",
                                "result": null
                            },
                            "Rising": {
                                "category": "undetected",
                                "engine_name": "Rising",
                                "engine_update": "20190916",
                                "engine_version": "25.0.0.24",
                                "method": "blacklist",
                                "result": null
                            },
                            "SUPERAntiSpyware": {
                                "category": "undetected",
                                "engine_name": "SUPERAntiSpyware",
                                "engine_update": "20190913",
                                "engine_version": "5.6.0.1032",
                                "method": "blacklist",
                                "result": null
                            },
                            "SentinelOne": {
                                "category": "type-unsupported",
                                "engine_name": "SentinelOne",
                                "engine_update": "20190807",
                                "engine_version": "1.0.31.22",
                                "method": "blacklist",
                                "result": null
                            },
                            "Sophos": {
                                "category": "undetected",
                                "engine_name": "Sophos",
                                "engine_update": "20190915",
                                "engine_version": "4.98.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Symantec": {
                                "category": "undetected",
                                "engine_name": "Symantec",
                                "engine_update": "20190915",
                                "engine_version": "1.10.0.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "SymantecMobileInsight": {
                                "category": "type-unsupported",
                                "engine_name": "SymantecMobileInsight",
                                "engine_update": "20190903",
                                "engine_version": "2.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "TACHYON": {
                                "category": "undetected",
                                "engine_name": "TACHYON",
                                "engine_update": "20190915",
                                "engine_version": "2019-09-15.02",
                                "method": "blacklist",
                                "result": null
                            },
                            "Tencent": {
                                "category": "undetected",
                                "engine_name": "Tencent",
                                "engine_update": "20190916",
                                "engine_version": "1.0.0.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "TotalDefense": {
                                "category": "undetected",
                                "engine_name": "TotalDefense",
                                "engine_update": "20190915",
                                "engine_version": "37.1.62.1",
                                "method": "blacklist",
                                "result": null
                            },
                            "Trapmine": {
                                "category": "type-unsupported",
                                "engine_name": "Trapmine",
                                "engine_update": "20190826",
                                "engine_version": "3.1.81.800",
                                "method": "blacklist",
                                "result": null
                            },
                            "TrendMicro": {
                                "category": "undetected",
                                "engine_name": "TrendMicro",
                                "engine_update": "20190915",
                                "engine_version": "11.0.0.1006",
                                "method": "blacklist",
                                "result": null
                            },
                            "TrendMicro-HouseCall": {
                                "category": "undetected",
                                "engine_name": "TrendMicro-HouseCall",
                                "engine_update": "20190915",
                                "engine_version": "10.0.0.1040",
                                "method": "blacklist",
                                "result": null
                            },
                            "Trustlook": {
                                "category": "type-unsupported",
                                "engine_name": "Trustlook",
                                "engine_update": "20190916",
                                "engine_version": "1.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "VBA32": {
                                "category": "undetected",
                                "engine_name": "VBA32",
                                "engine_update": "20190913",
                                "engine_version": "4.0.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "VIPRE": {
                                "category": "undetected",
                                "engine_name": "VIPRE",
                                "engine_update": "20190915",
                                "engine_version": "77890",
                                "method": "blacklist",
                                "result": null
                            },
                            "ViRobot": {
                                "category": "undetected",
                                "engine_name": "ViRobot",
                                "engine_update": "20190915",
                                "engine_version": "2014.3.20.0",
                                "method": "blacklist",
                                "result": null
                            },
                            "Webroot": {
                                "category": "type-unsupported",
                                "engine_name": "Webroot",
                                "engine_update": "20190916",
                                "engine_version": "1.0.0.403",
                                "method": "blacklist",
                                "result": null
                            },
                            "Yandex": {
                                "category": "undetected",
                                "engine_name": "Yandex",
                                "engine_update": "20190912",
                                "engine_version": "5.5.2.24",
                                "method": "blacklist",
                                "result": null
                            },
                            "Zillya": {
                                "category": "undetected",
                                "engine_name": "Zillya",
                                "engine_update": "20190913",
                                "engine_version": "2.0.0.3900",
                                "method": "blacklist",
                                "result": null
                            },
                            "ZoneAlarm": {
[...]
