---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/historical_whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 51d8f3b7bfcb9ac2d47b63989d699aac
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "first_seen_date": 1568361100,
                        "last_updated": 1521219486,
                        "registrant_country": "AU",
                        "whois_map": {
                            "Address": "PO Box 3646",
                            "CIDR": "1.0.0.0/8",
                            "City": "South Brisbane",
                            "Comment": "This IP address range is not registered in the ARIN database. | For details, refer to the APNIC Whois Database via | WHOIS.APNIC.NET or http://wq.apnic.net/apnic-bin/whois.pl | ** IMPORTANT NOTE: APNIC is the Regional Internet Registry | for the Asia Pacific region. APNIC does not operate networks | using this IP address range and is not able to investigate | spam or abuse reports relating to these addresses. For more | help, refer to http://www.apnic.net/apnic-info/whois_search2/abuse-and-spamming",
                            "Name Server": "6 Cordelia St",
                            "NetHandle": "NET-1-0-0-0-1",
                            "NetName": "APNIC-1",
                            "NetRange": "1.0.0.0 - 1.255.255.255",
                            "NetType": "Allocated to APNIC",
                            "OrgAbuseEmail": "search-apnic-not-arin@apnic.net",
                            "OrgAbuseHandle": "AWC12-ARIN",
                            "OrgAbuseName": "APNIC Whois Contact",
                            "OrgAbusePhone": "+61 7 3858 3188",
                            "OrgAbuseRef": "https://rdap.arin.net/registry/entity/AWC12-ARIN",
                            "OrgId": "APNIC",
                            "OrgName": "Asia Pacific Network Information Centre",
                            "OrgTechEmail": "search-apnic-not-arin@apnic.net",
                            "OrgTechHandle": "AWC12-ARIN",
                            "OrgTechName": "APNIC Whois Contact",
                            "OrgTechPhone": "+61 7 3858 3188",
                            "OrgTechRef": "https://rdap.arin.net/registry/entity/AWC12-ARIN",
                            "Organization": "ORG-ARAD1-AP",
                            "Parent": "()",
                            "PostalCode": "4101",
                            "Ref": "https://rdap.arin.net/registry/entity/APNIC",
                            "ReferralServer": "whois://whois.apnic.net",
                            "Registrant Country": "AU",
                            "Registrant E-mail": "research@apnic.net",
                            "ResourceLink": "http://wq.apnic.net/whois-search/static/search.html",
                            "Source": "APNIC",
                            "StateProv": "QLD",
                            "Updated Date": "2018-03-16T16:58:06Z",
                            "abuse-mailbox": "abuse@apnic.net",
                            "address": "PO Box 3646 | South Brisbane, QLD 4101 | Australia",
                            "admin-c": "AH256-AP",
                            "auth": "# Filtered",
                            "descr": "APNIC Research and Development",
                            "fax-no": "+61-7-3858-3199",
                            "inetnum": "1.1.1.0 - 1.1.1.255",
                            "irt": "IRT-APNICRANDNET-AU",
                            "mnt-by": "MAINT-AU-APNIC-GM85-AP",
                            "mnt-irt": "IRT-APNICRANDNET-AU",
                            "mnt-ref": "APNIC-HM",
                            "mnt-routes": "MAINT-AU-APNIC-GM85-AP",
                            "netname": "APNIC-LABS",
                            "nic-hdl": "AR302-AP",
                            "org-name": "APNIC Research and Development",
                            "organisation": "ORG-ARAD1-AP",
                            "origin": "AS13335",
                            "phone": "+61-7-3858-3188",
                            "remarks": "--------------- | All Cloudflare abuse reporting can be done via | resolver-abuse@cloudflare.com | ---------------",
                            "role": "APNIC RESEARCH",
                            "route": "1.1.1.0/24",
                            "status": "ASSIGNED PORTABLE",
                            "tech-c": "AH256-AP"
                        }
                    },
                    "id": "db3cd21257862762b2637c9285370fd8ab09e04a3665cfe63ef90e20163348d2",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/whois/db3cd21257862762b2637c9285370fd8ab09e04a3665cfe63ef90e20163348d2"
                    },
                    "type": "whois"
                }
            ],
            "links": {
                "self": "https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1/historical_whois?limit=10"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:36:28 GMT
recorded_with: VCR 5.0.0
