---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/url/scan
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fgithub.com%2Fninoseki%2Fvirustotalx&apikey=<VIRUSTOTAL_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 7cee4f4e5cd786f430990dae2ffb9413
    body:
      encoding: UTF-8
      string: '{"permalink": "https://www.virustotal.com/url/a83c10c4c6568974f3ae515dfae9bc2c9bee73ccbb7a63e6375da48d412c5607/analysis/1556756890/",
        "resource": "https://github.com/ninoseki/virustotalx", "url": "https://github.com/ninoseki/virustotalx",
        "response_code": 1, "scan_date": "2019-05-02 00:28:10", "scan_id": "a83c10c4c6568974f3ae515dfae9bc2c9bee73ccbb7a63e6375da48d412c5607-1556756890",
        "verbose_msg": "Scan request successfully queued, come back later for the
        report"}'
  recorded_at: Thu, 02 May 2019 00:27:46 GMT
recorded_with: VCR 4.0.0
