---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/votes
    body:
      encoding: UTF-8
      string: '{"data":{"type":"vote","attributes":{"verdict":"harmless"}}}'
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 03620ad7bc7753008565fd8a296c71d8
    body:
      encoding: UTF-8
      string: |-
        {
            "error": {
                "code": "NotFoundError",
                "message": "Item \"aHR0cDovL2V4YW1wbGUuY29tLw\" type \"URL\" not found"
            }
        }
  recorded_at: Sat, 19 Oct 2019 22:39:32 GMT
recorded_with: VCR 5.0.0
