---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/votes
    body:
      encoding: UTF-8
      string: '{"data":{"type":"vote","attributes":{"verdict":"harmless"}}}'
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7234388fecf4b71a88b62fbe085d689f
    body:
      encoding: UTF-8
      string: |-
        {
            "error": {
                "code": "NotFoundError",
                "message": "Item \"aHR0cDovL2V4YW1wbGUuY29tLw\" type \"URL\" not found"
            }
        }
  recorded_at: Thu, 26 Sep 2019 10:53:38 GMT
recorded_with: VCR 4.0.0
