---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/github.com/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 68a8e08f20a5968e818075d0d9740517
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1571457094,
                        "host_name": "github.com",
                        "ip_address": "140.82.114.3",
                        "resolver": "VirusTotal"
                    },
                    "id": "140.82.114.3github.com",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/140.82.114.3github.com"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1571444309,
                        "host_name": "github.com",
                        "ip_address": "192.30.253.113",
                        "resolver": "VirusTotal"
                    },
                    "id": "192.30.253.113github.com",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/192.30.253.113github.com"
[...]
