---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/urls/aHR0cDovL2V4YW1wbGUuY29tLw/analyses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 966d635bd0f06b4b56fabc059e3c33b4
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1569484202,
                        "results": {
                            "ADMINUSLabs": {
                                "category": "harmless",
                                "engine_name": "ADMINUSLabs",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "AegisLab WebGuard": {
                                "category": "harmless",
                                "engine_name": "AegisLab WebGuard",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "AlienVault": {
                                "category": "harmless",
                                "engine_name": "AlienVault",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Antiy-AVL": {
                                "category": "harmless",
                                "engine_name": "Antiy-AVL",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "AutoShun": {
                                "category": "undetected",
                                "engine_name": "AutoShun",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Avira": {
                                "category": "harmless",
                                "engine_name": "Avira",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "BADWARE.INFO": {
                                "category": "harmless",
                                "engine_name": "BADWARE.INFO",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Baidu-International": {
                                "category": "harmless",
                                "engine_name": "Baidu-International",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "BitDefender": {
                                "category": "harmless",
                                "engine_name": "BitDefender",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Blueliv": {
                                "category": "harmless",
                                "engine_name": "Blueliv",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "CLEAN MX": {
                                "category": "harmless",
                                "engine_name": "CLEAN MX",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "CRDF": {
                                "category": "harmless",
                                "engine_name": "CRDF",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Comodo Site Inspector": {
                                "category": "harmless",
                                "engine_name": "Comodo Site Inspector",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "CyRadar": {
                                "category": "harmless",
                                "engine_name": "CyRadar",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "CyberCrime": {
                                "category": "harmless",
                                "engine_name": "CyberCrime",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "DNS8": {
                                "category": "harmless",
                                "engine_name": "DNS8",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Dr.Web": {
                                "category": "harmless",
                                "engine_name": "Dr.Web",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "ESET": {
                                "category": "harmless",
                                "engine_name": "ESET",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "ESTsecurity-Threat Inside": {
                                "category": "harmless",
                                "engine_name": "ESTsecurity-Threat Inside",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Emsisoft": {
                                "category": "harmless",
                                "engine_name": "Emsisoft",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "EonScope": {
                                "category": "harmless",
                                "engine_name": "EonScope",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Forcepoint ThreatSeeker": {
                                "category": "harmless",
                                "engine_name": "Forcepoint ThreatSeeker",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Fortinet": {
                                "category": "harmless",
                                "engine_name": "Fortinet",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "FraudScore": {
                                "category": "harmless",
                                "engine_name": "FraudScore",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "FraudSense": {
                                "category": "harmless",
                                "engine_name": "FraudSense",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "G-Data": {
                                "category": "harmless",
                                "engine_name": "G-Data",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Google Safebrowsing": {
                                "category": "harmless",
                                "engine_name": "Google Safebrowsing",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "K7AntiVirus": {
                                "category": "harmless",
                                "engine_name": "K7AntiVirus",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Kaspersky": {
                                "category": "harmless",
                                "engine_name": "Kaspersky",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Malc0de Database": {
                                "category": "harmless",
                                "engine_name": "Malc0de Database",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Malekal": {
                                "category": "harmless",
                                "engine_name": "Malekal",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Malware Domain Blocklist": {
                                "category": "harmless",
                                "engine_name": "Malware Domain Blocklist",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "MalwareDomainList": {
                                "category": "harmless",
                                "engine_name": "MalwareDomainList",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "MalwarePatrol": {
                                "category": "harmless",
                                "engine_name": "MalwarePatrol",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Malwarebytes hpHosts": {
                                "category": "harmless",
                                "engine_name": "Malwarebytes hpHosts",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Malwared": {
                                "category": "harmless",
                                "engine_name": "Malwared",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Netcraft": {
                                "category": "undetected",
                                "engine_name": "Netcraft",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "NotMining": {
                                "category": "undetected",
                                "engine_name": "NotMining",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Nucleon": {
                                "category": "harmless",
                                "engine_name": "Nucleon",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "OpenPhish": {
                                "category": "harmless",
                                "engine_name": "OpenPhish",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Opera": {
                                "category": "harmless",
                                "engine_name": "Opera",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "PhishLabs": {
                                "category": "undetected",
                                "engine_name": "PhishLabs",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Phishtank": {
                                "category": "harmless",
                                "engine_name": "Phishtank",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Quttera": {
                                "category": "harmless",
                                "engine_name": "Quttera",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Rising": {
                                "category": "harmless",
                                "engine_name": "Rising",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "SCUMWARE.org": {
                                "category": "harmless",
                                "engine_name": "SCUMWARE.org",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "SecureBrain": {
                                "category": "harmless",
                                "engine_name": "SecureBrain",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Segasec": {
                                "category": "undetected",
                                "engine_name": "Segasec",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Sophos": {
                                "category": "undetected",
                                "engine_name": "Sophos",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Spam404": {
                                "category": "harmless",
                                "engine_name": "Spam404",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Spamhaus": {
                                "category": "harmless",
                                "engine_name": "Spamhaus",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "StopBadware": {
                                "category": "undetected",
                                "engine_name": "StopBadware",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "unrated"
                            },
                            "Sucuri SiteCheck": {
                                "category": "harmless",
                                "engine_name": "Sucuri SiteCheck",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Tencent": {
                                "category": "harmless",
                                "engine_name": "Tencent",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "ThreatHive": {
                                "category": "harmless",
                                "engine_name": "ThreatHive",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "Trustwave": {
                                "category": "harmless",
                                "engine_name": "Trustwave",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "URLQuery": {
                                "category": "harmless",
                                "engine_name": "URLQuery",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "URLhaus": {
                                "category": "harmless",
                                "engine_name": "URLhaus",
                                "engine_update": null,
                                "engine_version": null,
                                "method": "blacklist",
                                "result": "clean"
                            },
                            "VX Vault": {
                                "category": "harmless",
                                "engin[...]
